%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_tag 'login', class: 'form_horizontal' do 
        %header
          %h1
            Register
        %fieldset
          .form-group
            = label_tag  :email, 'Email Address', class: 'control-label col-sm-2'
            .col-sm-6
              = email_field_tag :email, nil, class: 'form-control'
          %br
          %br
          .form-group
            = label_tag  :password, 'Password', class: 'control-label col-sm-2'
            .col-sm-6
              = password_field_tag :password, params[:password], class: 'form-control'
          %br
          %br
          .form-group
            = label_tag  :name, 'Full Name', class: 'control-label col-sm-2'
            .col-sm-6
              = text_field_tag :name, params[:name], class: 'form-control'
          %br
          %br
          %fieldset.actions.control-group.col-sm-offset-2
            .controls
              = submit_tag 'Sign Up', class: 'btn btn-default'
