%section{:class => "content clearfix"}
  %article.video_category
    %header
      %h3
        %strong
          - @category = Category.find(1)
          = link_to "TV Dramas", category_path(@category)
    %div{:class => "videos row"}
      - 3.times do 
        - @category.videos.shuffle.each do |video|
          %div{:class => "video col-sm-2"}
            %a(href="#{video_path(video)}")
              %img{:src => "#{video.small_cover_url}", :width => "166", :height => "236"}
  %article.video_category
    %header
      %h3
        %strong
          - @category = Category.find(2)
          = link_to "Movie Dramas", category_path(@category)
    %div{:class => "videos row"}
      - 3.times do 
        - @category.videos.shuffle.each do |video|
          %div{:class => "video col-sm-2"}
            %a(href="#{video_path(video)}")
              %img{:src => "#{video.small_cover_url}", :width => "166", :height => "236"}